@font-face{
    font-family: 'TTHoves-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('TTHoves-Regular'),
        url('../fonts/TTHoves-Regular.woff2') format('woff2'),
        url('../fonts/TTHoves-Regular.woff') format('woff');
    font-display: swap;
}
@font-face{
    font-family: 'TTNormsPro-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('TTNormsPro-Regular'),
        url('../fonts/TTNormsPro-Regular.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Regular.woff') format('woff');
    font-display: swap;
}
@font-face{
    font-family: 'TTNormsPro-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('TTNormsPro-Medium'),
        url('../fonts/TTNormsPro-Medium.woff2') format('woff2'),
        url('../fonts/TTNormsPro-Medium.woff') format('woff');
    font-display: swap;
}
